[submodule "External/CPAProxy"]
	path = External/CPAProxy
	url = git@github.com:prive/CPAProxy.git
[submodule "External/TorchatMac"]
	path = External/TorchatMac
	url = git@github.com:prive/torchat-mac.git
[submodule "External/SSDataKit"]
	path = External/SSDataKit
	url = https://github.com/soffes/ssdatakit.git
